<launch>
  <node pkg="timed_roslaunch" type="timed_roslaunch.sh"
    args="0 agv_global_module LAUNCH-PKG-IRiS.launch"
    name="agv_global_module_1" output="screen" />

  <node pkg="timed_roslaunch" type="timed_roslaunch.sh"
    args="2 agv_local_module LAUNCH-PKG.launch"
    name="agv_local_module_1" output="screen" />

  <node pkg="timed_roslaunch" type="timed_roslaunch.sh"
    args="3 agv_sensor_fusion LAUNCH-PKG.launch"
    name="agv_sensor_module_1" output="screen" />

</launch>
